.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image-container {
    flex: 1;
    padding: 20px;
  }
  
  .text-container {
    flex: 1;
    padding: 20px;
  }
  
  .service-image {
    max-width: 100%;
    height: auto;
  }
  
  .text-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .text-container p {
    font-size: 16px;
    line-height: 1.6;
  }
  